<form method="POST" asp-controller="Auth" asp-action="AddRoleAction">
  <button>
    Create Admin Role
  </button>
</form>

<form method="POST" asp-controller="Auth" asp-action="AddUserToRoleAction">
  <button>
    Set hardcoded user as admin
  </button>
</form>