@{
  ViewData["Title"] = "Roles";
}

<div>
  <header class="row mt-5 mb-5">
    <div class="col-6 d-flex align-items-center">
      <h1>Roles</h1>
    </div>

    <div class="col-6 d-flex align-items-center justify-content-end">
      <a asp-area="" asp-controller="Roles" asp-action="Create" class="btn btn-primary">Create new</a>
    </div>
  </header>

  <table class="table">
    <caption>List of identity roles</caption>
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="w-75">Name</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var role in Model)
    {
      <tr>
        <td class="align-middle w-75">
          @role.Name
        </td>
        <td class="align-middle text-right">
          <a asp-controller="Roles" asp-action="Index" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>