@model Category

@{
  ViewData["Title"] = "Delete category";
}

<h1 class="mt-5 mb-5">
  Delete
  <small class="text-muted">category</small>
</h1>

@if (!ViewData.ModelState.IsValid)
{
  <div class="alert alert-danger" role="alert">
    @ViewData["ErrorMessage"]
  </div>
}

<h3>Are you sure you want to delete this?</h3>

<form asp-controller="Categories" asp-action="Delete" method="post">
  <button type="submit" class="btn btn-danger mt-4">Delete</button>
</form>