@using BoardGames.ViewModels
@model BoardGames.ViewModels.CategoryDetailViewModel

@{
  ViewData["Title"] = "Category \"" + @Model.Category.Name + "\"";
}

<h1 class="mt-5 mb-5">
  @Model.Category.Name
  <small class="text-muted"> - category</small>
</h1>

<div class="jumbotron">
  <h3 class="mb-4 text-secondary">Related games:</h3>
  @Html.Partial("~/Views/Shared/_GamesTable.cshtml", @Model.GamesTableViewModel)
</div>