@model Category

@{
  ViewData["Title"] = "Edit category";
}

<h1 class="mt-5 mb-5">
  Edit
  <small class="text-muted">category</small>
</h1>

@if (!ViewData.ModelState.IsValid)
{
  <div class="alert alert-danger" role="alert">
    @Html.ValidationSummary(false, "Form is invalid. Please fix following errors and try again.")
  </div>
}

<div class="jumbotron">
  <form asp-controller="Categories" asp-action="Edit" method="post">
    <div class="form-group">
      <label for="Name">Name:</label>
      <input type="text" asp-for="@Model.Name" id="Name" class="form-control" placeholder="Enter category name">
      <span asp-validation-for="Name" class="text-danger ml-3"></span>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-primary" type="submit">Edit category</button>
    </div>
  </form>
</div>
