@using BoardGames.ViewModels
@model List<Game>;

@{
  ViewData["Title"] = "Games";
}

<div>
  @await Html.PartialAsync("~/Views/Shared/_IndexHeader.cshtml", new IndexHeaderViewModel("Games"))

  <section class="text-center">
    @await Html.PartialAsync("~/Views/Shared/_GamesTable.cshtml", new GamesTableViewModel(Model, "List of games", true))
  </section>
</div>